<html>
<head>
    <meta charset="utf-8">
    <title>TissueSpecificmiRNA</title>
    <link rel="icon" href="{{ url_for('sTaTic', filename='img/icon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('sTaTic', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" rel="stylesheet" href="{{ url_for('sTaTic', filename='css/custom.min.css') }}">
    <link rel="stylesheet" rel="stylesheet" href="{{ url_for('sTaTic', filename='css/_variable.scss') }}">
    <link rel="stylesheet" href="{{ url_for('sTaTic', filename='css/_boostwatch.scss') }}">
    <link rel="stylesheet" href="{{ url_for('sTaTic', filename='css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('sTaTic', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('sTaTic', filename='css/jquery.auto-complete.css') }}">
    <link rel="stylesheet" href="{{ url_for('sTaTic', filename='css/bootstrap-slider.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('sTaTic', filename='css/pace-theme-loading-bar.css') }}">

    <!-- 导入顺序不能乱，因为后续的js依赖于前一个，顺序反了会到时功能失效 -->
    <script src="{{ url_for('sTaTic', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/datatables.min.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/buttons.print.min.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/jszip.min.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/jquery.auto-complete.min.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/bootstrap-slider.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/pace.min.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/echarts.min.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/macarons.js') }}"></script>
    <script src="{{ url_for('sTaTic', filename='js/roma.js') }}"></script>

    <style>
        footer {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
            background-color: #efefef;
            text-align: center;
        }

        .tab-content > .tab-pane,
        .pill-content > .pill-pane {
            display: block;
            height: 0;
            overflow-y: hidden;
        }

        .tab-content > .active,
        .pill-content > .active {
            height: auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" style="">
    <div class="container">
        <img src="{{ url_for('sTaTic', filename='img/icon.ico') }}" style="height:100px"/>
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <h2><font style="color:red">T</font>issue-<font style="color:red">S</font>pecific <font style="color:red">microRNA</font>
                Database
            </h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item active">

                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index')}}" id="homepage" style="fontsize=22px;">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('download')}}" id="download" style="fontsize=22px;">Downloads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('helppage')}}" id="help" style="fontsize=22px;">Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('reference')}}" id="reference" style="fontsize=22px;">Reference</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact')}}" id="contact">Contact Us</a>
        </li>
    </ul>

    <hr class="my-4">

    {% block content %}
    {% endblock %}
</div>
</body>
<!-- <footer>
    Southwest Jiaotong University </br>
    School of Life Sciences and Bioengineering </br>
    Chengdu, Sichuan, China</br>
    <strong>Email:</strong> zhiyunguo@swjtu.edu.cn</br>
</footer> -->

<script type="text/javascript">

    $(document).ready(function () {
        $("#{{ page }}").addClass("active");
    })
</script>
{% block script %}
{% endblock %}


</html>
