{% extends "base.html" %}
{% block content %}

<div class="col-12">
    <div class="row">
        <div class="col-5">
        </div>
        <div class="col-7">
            <h3> Contact Us</h3>
        </div>
    </div>
</div>

<br/>
<hr/>
<br/>

<div class="col-12">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-3">
                    <h5><strong>Tel:</strong></h5>
                </div>
                <div class="col-6">
                    <h5>028-87603202</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h5><strong>Email:</strong></h5>
                </div>
                <div class="col-6">
                    <h5>zhiyunguo@swjtu.edu.cn</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h5><strong>Address:</strong></h5>
                </div>
                <div class="col-6">
                    <h5>School of Life Science and Engineering, Southwest Jiaotong University, Chengdu, China.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h5><strong>Postcode:</strong></h5>
                </div>
                <div class="col-6">
                    <h5>610031</h5>
                </div>
            </div>
            {% endblock %}
