{% extends "base.html" %}
{% block content %}

<div class="col-12">
    <div class="row">
        <div class="col-5">
        </div>
        <div class="col-7">
            <h3> References</h3>
        </div>
    </div>
</div>

<br/>
<hr/>
<br/>

<div class="jumbotron">
    <ul>
        <li><h5>Li W, Notani D, Rosenfeld MG: Enhancers as non-coding RNA transcription units: recent insights and
            future perspectives. Nature reviews Genetics 2016, 17(4):207-223.</h5></li>
        <br/>
        <li><h5>Ernst J, Kellis M: Discovery and characterization of chromatin states for systematic annotation of the
            human genome. Nature biotechnology 2010, 28(8):817-825.</h5></li>
        <br/>
        <li><h5>Heinz S, Romanoski CE, Benner C, Glass CK: The selection and function of cell type-specific enhancers.
            Nature reviews Molecular cell biology 2015, 16(3):144-154.</h5></li>
        <br/>
        <li><h5>Andersson R, Gebhard C, Miguel-Escalada I, Hoof I, Bornholdt J, Boyd M, Chen Y, Zhao X, Schmidl C,
            Suzuki T et al: An atlas of active enhancers across human cell types and tissues. Nature 2014,
            507(7493):455-461.</h5></li>
        <br/>
        <li><h5>Kim TK, Hemberg M, Gray JM, Costa AM, Bear DM, Wu J, Harmin DA, Laptewicz M, Barbara-Haley K, Kuersten S
            et al: Widespread transcription at neuronal activity-regulated enhancers. Nature 2010,
            465(7295):182-187.</h5></li>
        <br/>
        <li><h5>Natoli G, Andrau JC: Noncoding transcription at enhancers: general principles and functional models.
            Annual review of genetics 2012, 46:1-19.</h5></li>
    </ul>
</div>


{% endblock %}
